<!-- <h1>{{home.message}} {{home.foo()}}</h1>
<foo-bar comment="home page"></foo-bar> -->

<div class="home">
  <div class="home__banner">
      <img class="home__logo" id="home__logo" src="img/logo.png" />
  </div>
  <div class="home__main">
    <div class="home__main__promo">
      <div class="home__main__promo__container" ng-repeat="Src in home.promoSrc" ng-click="home.promoZoom(this)" ng-class="{'fullPhoto': promoZoom, 'smallPhoto': !promoZoom}">
        <img class="home__main__promo__container__img"   ng-init="promoZoom = false" ng-src="{{Src}}" />
      </div>
    </div>
    <div class="home__main__albums">
      <div album class="cardWrapper" ng-repeat="mix in home.mixes">
        <div class="card">
          <div class="cardFace front">
            <img class="" ng-src={{mix.img}} />
          </div>
          <div class="cardFace back">
            <div style="width: 50%;" class="back__button">
              <img ng-click="home.newMusic(mix.src)" src="http://www.pngmart.com/files/3/Play-Button-PNG-Picture.png" />
            </div>
            <div class="back__moreInfo">
              <a style="background-color=white; color: white;" ui-sref="release({releaseId: '{{mix.urlName}}'})"> More Info </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home__main__press">
      <div class="home__main__press__tourContainer">
        <h1> Tour Dates </h1>
        <div class="home__main__press__tourContainer__tourDate" ng-repeat="date in home.tourDates">
          <h3> {{date.title}} </h3>
          <h4> {{date.venue}} </h4>
          <p> {{date.date}} <p>
          <a target="_blank" href="{{date.tickets}}"> Buy Tickets </a>
        </div>
      </div>
      <div class="home__main__press__twitterContainer">
        <a class="twitter-timeline" data-height="500" data-chrome="nofooter noheader" href="https://twitter.com/rawlenightlong"></a>
      </div>
    </div>
  </div>

</div>
<!-- <script type="text/javascript" src="vanilla-tilt.js"></script> -->
