<!-- <h1>{{home.message}} {{home.foo()}}</h1>
<foo-bar comment="home page"></foo-bar> -->

<div class="home">
  <div class="home__banner row">
    <!-- <h1> test </h1> -->
    <div class="col-sm-6 offset-sm-2">
      <img class="home__logo" id="home__logo" src="logo.png" />
    </div>
  </div>
  <div class="home__main row">
    <div class="home__main__promo col-md-4 col-lg-5" >
      <div class="home__main__promo__container" ng-repeat="Src in home.promoSrc">
        <img class="home__main__promo__container__img" ng-src="{{Src}}" />
      </div>
    </div>
    <div class="home__main__albums col-md-4 col-lg-2">
      <div class="home__main__albums__container">
        <div class="home__main__albums__container__card">
          <div class="home__main__albums__container__card__front album" style="background-color: blue; width: 250px; height: 250px;">  </div>
          <div class="home__main__albums__container__card__back album" style="background-color: red; width: 250px; height: 250px;">  </div>
        </div>
      </div>
      <!-- <button style="color:white;" ng-click="test"> test </button> -->
      <!-- <img class="home__main__albums__img album" src="http://via.placeholder.com/250x250" />
      <img class="home__main__albums__img album"  src="http://via.placeholder.com/250x250" /> -->
    </div>
    <div class="home__main__press col-md-3 col-lg-4">
      <img class="home__main__press__img" src="http://via.placeholder.com/150x350" />
      <img class="home__main__press__img" src="http://via.placeholder.com/200x150" />
      <img class="home__main__press__img" src="http://via.placeholder.com/250x250" />
    </div>
  </div>

</div>
<!-- <script type="text/javascript" src="vanilla-tilt.js"></script> -->
