.home{
  height: 100%;
  background-color: black;

  &__logo{
    height: 40vh;
  }

  &__main{
    margin-bottom: 50px;

    &__promo{

      &__container{
        float:right;
        margin: 10px;
        max-width: 33%;
        &__img{
          width: 100%;
        }

      }


    }

    &__albums{
      min-width: 230px;

      &__container{
        margin: 10px;
        position: relative;
        perspective: 800px;

        &__card{
          width: 100%;
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: transform 1s;

          &__back{
            transform: rotateY( 180deg );
          }
        }
      }
    }

    &__press{

      &__tourContainer{
        background-color: white;

        &__tourDate{
          background-color: white;
          border-bottom: solid 2px black;

        }
      }

      &__img{
        float: left;
        margin: 10px;
      }

    }
  }
}

.cardWrapper{
  width:200px;
  height:200px;
  position:relative;
  margin-bottom: 20px;
}

.cardFace{
  position:absolute;
  width:200px;
  height:200px;
  overflow:hidden;
  background-size: cover;

}


.moreInfo{
  padding:10px;
  color:white;
  line-height:24px;

}

.front{
  background-color: red;
}

.back{
  background-color: blue;
}

.mouseOn{
  transform: scale(1.1);
  transition: all .5s;
}

.mouseOff{
  transition: all .5s;
}

.borderOn{
  border: solid 5px orange;
}

.fullPhoto{
  transform: scale(4);
  z-index: 10;
}

h1 {
  font-size: 3rem;
}
