.home{
  height: 100%;
  background-color: black;

  &__logo{
    height: 40vh;
    margin-left: 300px;
  }

  &__main{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;

    &__promo{
      width: 100%;

      &__container{
        float:right;
        margin: 10px;
        max-width: 33%;

        &__img{
          width: 100%;
          transform: scale(1);
        }

      }


    }

    &__albums{
      min-width: 230px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__container{
        margin: 10px;
        position: relative;
        perspective: 800px;

        &__card{
          width: 100%;
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: transform 1s;

          &__back{
            transform: rotateY( 180deg );
          }
        }
      }
    }

    &__press{
      width: 100%;
      float: left;

      &__tourContainer{
        background-color: white;

        &__tourDate{
          background-color: white;
          border-bottom: solid 2px black;
        }
      }

      &__img{
        float: left;
        margin: 10px;
      }

    }
  }
}

//album card
.cardWrapper{
  width:200px;
  height:200px;
  position:relative;
  margin-bottom: 20px;
}

.cardFace{
  position:absolute;
  width:200px;
  height:200px;
  overflow:hidden;
  background-size: cover;
}

.back{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: pink;

  &__button img{
    -webkit-filter: drop-shadow(6px 6px 3.5px rgba(0,0,0,0.5));
	  filter: drop-shadow(6px 6px 3.5px rgba(0,0,0,0.5));
    transition: all .1s;
  }

  &__button img:active{
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
    transition: all .1s;
  }

  &__moreInfo{

  }
}

//Increase photo effect
.fullPhoto{
  max-width: 80%;
  transition: all .25s;
  z-index: 10;
}

.smallPhoto{
  transition: all .25s;
}

h1 {
  font-size: 3rem;
}
