.release{
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: row;

  &__left{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    &__cover{
      margin-top: 100px;
    }
  }

  &__right{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    &__text{
      margin-top: 50px;
    }
  }
}
