.release{
  height: 100vh;
  background-color: #111;
  color: white;

  &__back{
    position: fixed;
    top: 50px;
    left: 50px;

    &__img{
      width: 25px;
    }
  }

  &__ticker-wrap{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    padding-left: 100%;  // offset items to begin

    &__ticker{
      background-color: #111;
      display: inline-block;
      height: 4rem;
      line-height: 4rem;
      white-space: nowrap; // display items in a line
      padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: ticker;
      animation-name: ticker;
      -webkit-animation-duration: 60s;
      animation-duration: 60s;

      &__item{
        display: inline-block;
        padding: 0 2rem;
        font-size: 40px;
        color: white;
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: row;

    &__left{
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
      &__cover{
        margin-top: 100px;
      }
    }

    &__right{
      width: 100%;
      margin-top: 100px;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 100px;

      &__item{

        &__song{
          font-family: helvetica neue;
          font-weight: bold;
          display: inline;
          color: rgb(208, 208, 208);
        }

        &__artist{
          font-family: helvetica neue;
          font-weight: light;
          display: inline;
          color: rgb(208, 208, 208);
      }
    }
  }

  }


}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-130%, 0, 0);
    transform: translate3d(-130%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-130%, 0, 0);
    transform: translate3d(-130%, 0, 0);
  }
}
