//
// Mixins
//
//

#audio-player{
  display: block !important;
}

audio{
  width: 100%;
}

footer{
  width: 100%;
  position: fixed;
  bottom:0;
  display: flex !important;
  flex-direction: row;
}

.audio-player-div{
  width: 80%;
}

.socials{
  background-color: #111;
  width:20%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__svg{
    width: 100%;
    max-width: 40px;
    margin:2px;
    display: block;
  }
}

#fb{
  transition: all .5s;
  transform: scale(1);
}

#fb:hover{
  transform: scale(1.1);
}

#sc{
  transition: all .5s;
  transform: scale(1.1);
}

#sc:hover{
  transform: scale(1.2);
}

#tw{
  transition: all .5s;
  transform: scale(1.3);
  margin-bottom: 1px;
  margin-right: 5px;
}

#tw:hover{
  transform: scale(1.4)
}

#twCont{
  margin-right: 10px;
}

#ig{
    transition: all .5s;
    height: 26px;
    transform: scale(1.0);
}

#ig:hover{
  transform: scale(1.1);
}

.socials{
  padding-right: 10px;
}

@media (max-width: 1200px) {


}

@media (max-width: 960px) {
  .audio-player-div{
    width: 70%;
  }

  .socials{
    width: 30%;
  }

}

@media (max-width: 760px) {
  #fb{
    width: 5vw;
  }

  #sc{
    width: 5vw;
    // margin-top: -5px;
  }

  #tw{
    width: 5vw;
  }

  #ig{
    margin-top: 3px;
    width: calc(5vw - .4em);
  }

  #ig:hover,
  #tw:hover,
  #fb:hover,
  #sc:hover
  {

  }

}

@media (max-width: 480px) {
  #ig{
    margin-top: 3px;
  }

  #sc{
    margin-top: -2px;
  }

}
